body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
/* transicion de color */
.items {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition-property: background-color;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.items:hover {
  background-color: lightskyblue;
}
